.DS_Store

/.recentf
/.smex-items
/.tutor/
/ac-comphist.dat
/auto-save-list/
/backups/
/edts/
/ido.last
/places
/projectile-bookmarks.eld
/projectile.cache
/tramp
/elpa/

/customizations/my-private.el