[submodule "yasnippet-snippets"]
	path = snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git

[submodule "benchmark-init-el"]
    path = site-lisp/benchmark-init
    url = git@github.com:dholm/benchmark-init-el.git