.DS_Store

/.cask/
/.recentf
/.smex-items
/.tutor/
/.sx/
/ac-comphist.dat
/auto-save-list/
/backups/
/edts/
/ido.last
/places
/projectile-bookmarks.eld
/projectile.cache
/tramp
/elpa/

/settings/luis-private.el
/settings/luis-mail-private.el
/settings/luis-machine-local.el
/url/
/bookmarks
/eshell/
