.DS_Store
*.elc
TAGS

/.cask/
/.tutor/
/.sx/
/recentf
/ac-comphist.dat
/auto-save-list/
/backups/
/edts/
/ido.last
/ido.last~
/places
/projectile-bookmarks.eld
/projectile.cache
/tramp
/url/
/bookmarks
/eshell/
/abbrev_defs
/semanticdb/
/smex
/ensime/
/ngram/
/.emacs.desktop
/.emacs.desktop.lock
/irony/
/meghanada/
/anaconda-mode/
/history
/jdee-server/
/frame-restore-parameters
/network-security.data
/%backup%~

/lisp/luis-private.el
/lisp/luis-machine-local.el
/transient/history.el
