[submodule "benchmark-init-el"]
	path = site-lisp/benchmark-init-el
    url = git@github.com:dholm/benchmark-init-el.git
[submodule "site-lisp/elpa-mirror"]
	path = site-lisp/elpa-mirror
	url = git@github.com:redguardtoo/elpa-mirror.git
