;; If you hit GitHubs rate limit when using paradox, you can enter your
;; GitHub access token here to increase it.
;; (setq paradox-github-token "YOUR_GITHUB_TOKEN")

;; If you are behind a corporate proxy/firewall disable access to online package
;; archives.
;; (setq luis-online-package-archives nil)


(provide 'luis-private)
